
@font-face {
    font-family: 'BebasNeue-Regular.ttf' ;
    src: url(Fonts/BebasNeue-Regular.ttf);
  }
  
  *{
    font-family: 'BebasNeue-Regular',monospace;
  }
  
  body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center; 
    
    color: #fff;
    /*background: linear-gradient(to right, rgb(83,105,118), rgb(41,16,73));*/
     background: linear-gradient(to right, rgb(139, 35, 35), rgb(10, 9, 10), rgb(71, 71, 59))
  }